<div class="containers h-auto d-inline-block">
  <div class="items">
    <div class="entrys">
      <img src="/images/Portada2.jpg" alt="Smiling person" />
    </div>
    <div class="entrys">
      <img src="/images/Portada3.jpg" alt="Smiling person" />

    </div>
    <div class="entrys">
      <img src="/images/Portada4.jpg" alt="Smiling person" />

    </div>
    <div class="entrys">
      <img src="/images/Portada5.jpg" alt="Smiling person" />

    </div>
    <div class="entrys">
      <img src="/images/Portada2.jpg" alt="Smiling person" />

    </div>
    <div class="entrys">
      <img src="/images/Portada3.jpg" alt="Smiling person" />

    </div>
    <div class="entrys">
      <img src="/images/Portada4.jpg" alt="Smiling person" />

    </div>
    <div class="entrys">
      <img src="/images/Portada5.jpg" alt="Smiling person" />
    </div>
  </div>
</div>