<link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css" />

<div class="owl-carousel owl-theme m-2">
  <div class="item" style="width: 500px;">
    <img src="images/portada1.jpg" alt="" />
  </div>
  <div class="item" style="width: 500px;">
    <img src="images/portada2.jpg" alt="" />
  </div>
  <div class="item" style="width: 500px;">
    <img src="images/portada3.jpg" alt="" />
  </div>
  <div class="item" style="width: 500px;">
    <img src="images/portada4.jpg" alt="" />
  </div>
  <div class="item" style="width: 500px;">
    <img src="images/portada5.jpg" alt="" />
  </div>
</div>
<div class="d-inline-flex justify-content-center">
  <button class="play btn btn-outline-dark">Play</button>
  <button class="stop btn btn-outline-dark">Stop</button>
</div>
<script src="js/jquery-3.7.0.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="carrusel.js"></script>