<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Danus</title>
  </head>
  <body class="d-flex flex-column container-fluid">
    {{! <div id="divLogo" class="row"></div> }}
    <nav
      class="navbar bg-body-tertiary bg-dark row navbar-expand-lg"
      data-bs-theme="dark"
    >
      <div class="container">
        <div id="navbarNav" class="mx-auto">
          <ul class="navbar-nav mb-lg-0 d-flex flex-row ms-4">
            <li class="nav-item m-1 me-4">
              <a class="btn" id="inicio" href="/">Inicio</a>
            </li>
            <li class="nav-item m-1 me-4">
              <a class="btn" id="productos" href="/productos">productos</a>
            </li>
            <li class="nav-item m-1 me-4">
              <a class="btn" id="contacto" href="/contacto">Contacto</a>
            </li>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

          </ul>
          <div
            class="collapse navbar-collapse text-center"
            id="navbarNavAltMarkup"
          >
            <div class="navbar-nav d-flex flex-row">
              <a class="btn" id="contacto" href="/mensajes">Ver mensajes</a>
              <a class="btn" id="album" href="/crearAlbum">Crear album</a>
              <a class="btn" id="album" href="/crearProducto">Crear producto</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div>
      {{{body}}}
    </div>

    <footer class="bg-dark row" style="padding: 20px; text-align: center;">
      <div class="social-buttons d-flex flex-row justify-content-around">
        <div class="col-sm-4 ml-auto text-center">
          <a
            href="https://www.facebook.com/DanusEventos"
            target="blank"
            class="social-margin"
          >
            <div class="social-icon facebook">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <p class="text-light">DanusEventos</p>
          </a>
        </div>

        <div class="col-sm-4 mr-auto text-center">
          <a
            href="mailto:contact@yourdomain.com"
            target="blank"
            class="social-margin"
          >
            <div class="social-icon instagram">
              <i class="fa-regular fa-envelope"></i>
            </div>
            <p class="text-light">Email</p>
          </a>
        </div>
        <div class="col-sm-4 ml-auto text-center">
          <a
            href="https://wa.me/5491150500147"
            target="blank"
            class="social-margin"
          >
            <div class="social-icon wp">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <p class="text-light">Whatsapp</p>
          </a>
        </div>
      </div>

      <div class="container text-center">
        <span class="copyright-text text-white-50">Copyright &copy;
          <span id="year"></span>
          Todos los derechos reservados
        </span>
      </div>
    </footer>

    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>

  </body>
</html>